*{
    padding: 0;
    margin: 0;
}
.first{
    width: 100%;
    height: 35px;
    background: rgb(167, 4, 4);
}
.first p{
    text-align: center;
    justify-content: space-between;
    color: #fff;
    text-decoration: none;
    padding: 8px;
}
.header{
    width: 100%;
    height:100vh;
    
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
}
nav .header-img{
    width: 200px;
    height: 80px;
}
.header-icons ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
ul li {
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    margin-left: 40px;
    padding-left: 10px;

}
ul li a{
    text-decoration: none;
    color: black;
}
.icons{
     margin-left: 60px;
    padding-left: 40px;
    font-size: 25px;
}
.icons .fa{
    color:black;
    padding: 10px;
}
.hero{
    width:100%;
    height:80vh;
   
}
.hero-img{
 margin-top: -38%;
 margin-bottom: 80px;

}
.hero-img img{
    width:100%;
   height:100vh;
  
}
.hero h2{
    position: absolute;
    padding-left: 60px;
    font-size: 38px;
}
.hero .shop-product-img{
    position: absolute;
    margin-top: 40px;
    margin-left: 60px;
    width:5%;
    height:50px;
}
 .hero-button{
  
   
    position: relative;
    /* margin-top: 180px; */
    display: flex;
    justify-content: space-evenly ;
    text-align: center;
}
.hero-button .button{
     background-color: #f9f0f0;
    width:150px;
    height:50px;
    border-radius: 30%;
    border: 0;
    outline: none;
    /* cursor: pointer; */
    /* padding: 20px; */

}
.hero-button .button a{
    text-decoration: none;
    color: rgb(9, 3, 3);
    font-size: 20px;
}
/* .hero-button .button a:hover{
    color: #fff;
} */

.hero-button .button:hover, .hero-button .button a:hover{
    background-color:black;
    transform: translate(.5s);
    color: #fff;
  
}
.bag{
    width:100;
    display: flex;
    margin-top: 20px;
}
.bag-row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.bag-col img{
   width: 270px;
   height:300px;
   transition: 1s;
  
   
}
.bag-col img:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0, 0.8) ; 
}
.bag-col h3{
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    
}
.bag-col p{
    position: relative;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}
.bag-col p span{
    color: red;
    font-size: 20px;
    font-weight: 500;
}
.button{
    width:220px;
    height:40px;
    position: relative;
    justify-content: center;
    text-align: center;
    margin-left: 40px;
    background: black;
    color: #d7c7c7;
    padding: 12px;
    border: 0;
    border-radius: 10px;
    margin-top:5px;
    margin-bottom: 30px;
    font-weight: 500;
}
.button:hover {
    background: #534f4f;
    /* color: black; */
}
.container{
    width:100%;
    /* margin:auto; */
    display: flex;
}
.container-col h3{
    position: relative;
    font-size: 35px;
    margin-left: 40px;
    text-align: left;
    justify-content: center;
    top: 150px;
}
.container-col .shop-product-img{
    position: absolute;  
    margin-top: 140px;
    margin-left: 40px;
    width:5%;
    height:50px; 
}
.container-col p{
    position: relative;
    margin-top: 190px;
    margin-left:40px;
}
.container-col button{
    width:170px;
    height: 50px;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
    background-color: #816e6e;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
    
}
.container-col button:hover{
    background: #474242;
}
.container-pic{
    width:100%;
    margin: auto;
}
.container-pic-row{
    width: 95%;
    height: 70vh;
    display: flex;
   align-items: center;
   justify-content: space-evenly;
    background: rgb(166, 45, 45);
    rotate: 185deg;
    margin-left: 40px;
    margin-top: 60px;
}
.container-pic-colA{
    width: 25%;
    height: 300px;
    border-radius: 50%;
    background-color:rgb(119, 110, 110);

}
.container-pic-co1B{
    width: 20%;
    height: 300px;
    border-radius:  50%;
    background-color: blue;

}

.container-pic-colC{
    width: 20%;
    height: 300px;
    border-radius: 50%;
    background-color:yellow;

}
.container-pic-colA img{
    rotate: 180deg;
    margin-left: 50px;
    transition: 1s;
}
.container-pic-co1B img{
    rotate: 180deg;
    height: 280px;
    margin-left: 30px;
    transition: 1s;
}

.container-pic-colC img{
    rotate: 180deg;
    margin-left: 30px;
    transition: 1s;

}
.container-pic-colA img:hover{
    transform: scale(1.3);
    z-index: 2;

}
.container-pic-co1B img:hover{
    transform: scale(1.3);
    z-index: 2;

}

.container-pic-colC img:hover{
    transform: scale(1.3);
    z-index: 2;

}
.Emg{
    width: 100%;
    margin: auto;
}
.Emg-row{
    width: 98%;
    display: flex;
    justify-content: space-between;
}
.Emg-col{
   display: flex; 
   justify-content: space-between;
   margin: 15px;
   margin-top: 60px;
}
.Emg-col img{
    width: 310px;
    height: 350px;
    margin-bottom: 10px;
    transition: 1s;
}
.Emg-col img:hover{
    transform: scale(0.5);
    z-index: 2;
}
.buttonA{
    width: 110px;
    height: 35px;
    margin-top: -50px;
    position: relative;
    margin-left: 45%;
    border: 0;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    justify-content:center;
    align-items: center;
    background-color: rgb(185, 167, 167);
    color: black;
    margin-bottom: 40px;
}
.buttonA:hover{
    background-color: #2f1919;
}
.Tax{
    width:100%;
    height:30vh;
    margin: auto;

}
.Tax-row{
    width: 100%;
    height: 30vh;
    display: flex;
}
.Tax-col h2{
    text-align: left;
    font-size: 40px;
    padding-right: 10vw;
    margin-left: 70px;
    color: #534f4f;
}
.Tax-col h1{
    text-align: left;
    font-size: 40px;
    padding-right: 10vw;
    margin-left: 70px;
    color: #534f4f;
}
.Tax-col img{
    position: absolute;  
    margin-top: 5px;
    margin-left: 70px;
    width:5%;
    height:50px; 
}
.Tax-colA {
    display: flex;
    margin: 50px;
    float: right;
   
}
.Tax-colA p{
    font-size: 20px;
    font-weight: 600;
    margin-left: 150px;
    color: #534f4f;
}
.Tax-colA a{
    margin-top: -30px;
    text-decoration: none;
    font-size: 40px;

}
.Tax-colA .fa-brands{
    color: orchid;
    margin: 20px;
} 
.Tax-colA a span .fa-brands{
    color: blue;
}
.pics{
    width:90%;
    margin: auto;
    /* display: flex; */
}
.pics-row{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pics-col{
    align-items: center;
    width: 100%;
    margin: 15px;
    margin-right: 15px;

}
.pics-col img{
    width:400px;
    height: 500x;
    border-radius: 20px;
    transition: 1s;
    margin-bottom: 90px;
}
.pics-col img:hover{
    transform: scale(0.5);
    z-index: 2;
}
.layer{
    margin-top: -140px;
    margin-left: 20px;
    color: black;
}
.icon{
    width:100%;
    margin:auto;
    rotate: 5deg;
 
}
.icon-row{
    display: flex;
    width:95%;
    height: 60vh;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    background: rgb(208, 33, 33);
    margin-left: 50px;
   
}
.icon-col{
    width:100%;
    margin: 20px;
}
.icon-col .fa-solid{
    font-size: 60px;
    color: #d7c7c7;
    margin-top: 10px;

}
.icon-col h4{
    font-size: 20px;
  color: #d7c7c7;
  margin-top: 10px;
}
.icon-col p{
    color: #d7c7c7;
    margin-top: 10px;
   
}
.brand{
    width: 80%;
    margin: auto;
  
   

}
.brand-row{
    width:100%;
    align-items: center;
}
.brand-row img{
    max-width: 110%;
    align-items: center;
    margin-left: -35px;
}
.brand-row h1{
    position: relative;
    text-align: center;
    justify-content: space-between;
    margin-top: -350px;
    font-size: 50px;
}
.brand-row p{
    position: relative;
    text-align: center;
    margin-top: 20px;
}
.brand-row button{
    position: relative;
    align-items: center;
    color: rgb(20, 9, 9);
    margin-left: 450px;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    width: 150px;
}
.first-footer{
    width:100%;
    height:30vh;
    margin:auto;
    background-color: rgb(230, 76, 6);
    display: flex;
    /* rotate: 5deg; */
    margin-top: 150px;
}
.first-footer-row{
    /* rotate: 0deg; */
}
.first-footer-row h1{
  position: absolute;
  margin-top: 40px;
  margin-left: 400px;
  rotate: 0deg;
  color: #fff;
}
.input{
    position: absolute;
    margin-top: 90px;
    margin-left: 500px;
    width:300px;
    height:20px;
    background: none;
    border-radius: 10px;
    color: #fff;
    border: 1px solid white;
}
.button{
    position: absolute;
    margin-top: 130px;
     margin-left: 550px;
     background-color: #fff;
     color: black;
     width:150px;
   /* width:300px;
    height:20px; */
}
.footer{
    width:100%;
    margin: auto;
}
.footer-row{
    width:100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #2f1919;
    margin-right: 50px;

}
/* .footer-col{
    width:100%;
    margin-right: 160px; */

.footer-col ul p{
font-size: 20px;
font-weight: 500;
margin-top: 40px;
color:white;
}
.footer-col ul li{
    list-style: none;
    color: #fff;
    margin-top: 15px;
}
.footer-col .fa-brands{
    margin: 10px;
    position: relative;
   margin-top: 300px;
    font-size: 35px;
    margin-bottom:80px;
    color: #d7c7c7;
   
}
.last-footer img{
    position: absolute;
    margin-top: -250px;
    margin-left: 40px;
    background: black;
 
    color: white;
}
.footer .hello{
    position: absolute;
    margin-top: -280px;
    margin-left: 150px;
}
.last-footerA {
    position: absolute;
    margin-top: -130px;
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    margin-left: 100px;

}
.last-footerA p{
    margin: 30px;
    color: #423b3b;
    font-size: 15px;
}
.last-footerA img{
    width:90px;
    height:110px;
    display: flex;
}
.footer hr{
    color: #fff;
}





    





